# This is a basic workflow to help you get started with Actions

name: Merge cantonal CSVs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    paths:
    - 'fallzahlen_kanton_total_csv/*.csv'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Print header line and then merge all files without header line
      run: ( head -n 1 fallzahlen_kanton_total_csv/COVID19_Fallzahlen_FL_total.csv; ls fallzahlen_kanton_total_csv/*.csv | xargs -n 1 tail -n +2 ) | cut -d, -f 1-11 > COVID19_Fallzahlen_CH_total.csv

    # Commit to repo with updated file
    - uses: stefanzweifel/git-auto-commit-action@v4.1.1
      with:
        commit_message: Update COVID19_Fallzahlen_CH_total.csv
        branch: ${{ github.head_ref }}
